
  <!-- <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
      <h4 id="item-1">Item 1</h4>
      <p>vsdjvjksdnkvj ndkjsvn kjv,mc kc kj v kj fnkvfnbkjfgnbjkngf jkg bjkg jk jkg jkgjk jkg jg jk jk jkkfc bbmv nkjdfnvdkznn nznjv njdn njn nfvn ifnznbhnjinbfhfejnfbhfiuwenfbasfiu ifua ijfefiuebfehjfiunajsfnjdibiufabnuhefjen fe iuf neiufnjjkn fian f neiuwfn euiw fuie fiu ewf iua fiu fiu eiu eiufewuih fiuhaf ui</p>
      <h5 id="item-1-1">Item 1-1</h5>
      <p>vkdmsdlkvmlkdmsklv...</p>
      <h5 id="item-1-2">Item 2-2</h5>
      <p>.vdsvdsvsdvdsvds..</p>
      <h4 id="item-2">Item 2</h4>
      <p>..vdsvsdvsdvsd.</p>
      <h4 id="item-3">Item 3</h4>
      <p>..vsdvdsvdsv.</p>
      <h5 id="item-3-1">Item 3-1</h5>
      <p>..dsvsdvds.</p>
      <h5 id="item-3-2">Item 3-2</h5>
      <p>..vdsvsdvsd.</p>
      
    </div> -->
    <h1>Nurender</h1>
    <router-outlet></router-outlet>