<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark navbar-dark sticky-top"> -->
<div  style="height:1500px">
  <div>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-dark navbar-dark" style="background-color: #e3f2fd; float: left;">
      <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" style="color: rgb(247, 0, 255);" data-toggle="pill" (click) = "myfunc()" (click) = "blockdis()" routerLink="text">HOME</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" (click) = "myfun()" (click)="opentext()" routerLink="">HTML</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" (click) = "myfun()" (click)="opentext()" routerLink="" >CSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" (click) = "myfun()" (click)="opentext()" routerLink="">JAVASCRIPT</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" (click) = "myfun()" (click)="opentext()" routerLink="">BOOTSTRAP</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" (click) = "myfun()" (click)="opentext()" routerLink="">JQUERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" (click) = "myfun()" (click)="opentext()" routerLink="">ANGULAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: rgb(247, 0, 255);" data-toggle="pill" (click) = "myfun()" (click)="opentext()" routerLink="">JAVA</a>
        </li>
      </ul>
    </div> 
    </nav> 
  </div>
  <div id="test">
    <app-test></app-test>
  </div>
  <!-- <div class="row">  
    <div class="col-sm-4" id="leftbar">
    kj    <app-sidebar></app-sidebar>
    </div>  
    <div class="col-sm-8" id="rightbar">
      jdsbcjkdsbbvjfvmnfkjdvnidfnvindfijvnfdinvin
      <app-html></app-html>
      <div id="bottombar"></div>
    </div>    
    <app-test></app-test>
  </div>  -->
  
  <div class="row" id="component">
      <div class="col-sm-2" style="background-color:lavender; ">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-sm-10" style="background-color:lavenderblush;margin-left: 200px;">
        <router-outlet></router-outlet>
        <div>
          <app-footer></app-footer>
        </div>
      </div>
  </div>
 
</div>
  


