<!-- <nav id="navbar-example3" class="navbar navbar-light bg-light nav1" style="position: relative; position: fixed" >
    <a class="navbar-brand" href="#">Navbar</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link" href="#item-1">Item 1</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>
        <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
      </nav>
      <a class="nav-link" href="#item-2">Item 2</a>
      <a class="nav-link" href="#item-3">Item 3</a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
        <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
      </nav>
      
    </nav>
  </nav>-->
<div id="mySidenav" class="sidenav nav1">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Search for names.." title="Type in a name">
    <ul id="myUL">
        <li><a href="#item-1">Adele</a></li>
        <li><a href="#item-1-1">Agnes</a></li>
      
        <li><a href="#item-1-2">Billy</a></li>
        <li><a href="#item-2">Bob</a></li>
      
        <li><a href="#item-3">Calvin</a></li>
        <li><a href="#item-3-1">Christina</a></li>
        <li><a href="#item-3-1">Cindy</a></li>
      </ul>
  </div> 
  
  <div id="main">
    <span style="font-size:30px;cursor:pointer" class="mainstyle" (click)="openNav()">&#9776; open</span>
  </div>
  
       